@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>DataTables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div id="list-partial">

</div>

<div class="modal fade" id="modalAdd">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Gelir Gider</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Gelir/Gider Ekle</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Name">İsim</label>
                                <input type="text" class="form-control" id="Name" placeholder="İsim Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="Code">Code</label>
                                <input type="text" class="form-control" id="Code" placeholder="Code Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="SubNo">SubNo</label>
                                <input type="text" class="form-control" id="SubNo" placeholder="SubNo Giriniz">
                            </div>

                            <div class="form-group">
                                <label for="Description">Description</label>
                                <input type="text" class="form-control" id="Description" placeholder="Description Giriniz">
                            </div>

                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="SaveUser" onclick="Ekle()">Kaydet</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalUpdate">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Large Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="modal-update">

            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="SaveUser" onclick="DuzenlePost()">Kaydet</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts{
    <script>
        function closeModal() {
            $('#modalAdd').modal('hide');
            $('#modalUpdate').modal('hide');
            $('#modalDetail').modal('hide');
        }

        function Partial() {
            $.ajax({
                url: "/ExpenseTitle/GetList",

                success: function (result) {
                    $('#list-partial').html(result);
                },

            })
        }

        function Ekle() {

            var expenseTitle = {
                Name: $("#Name").val(),
                Code: $("#Code").val(),
                SubNo: $("#SubNo").val(),
                Description: $("#Description").val(),
            };

            $.ajax({
                url: "/ExpenseTitle/Add",
                data: {
                    "expenseTitle": expenseTitle
                },
                type: 'POST',

                success: function (response) {

                    if (response.status == true) {

                        toastr.success(response.message);

                        setTimeout(function () {
                            closeModal();
                            Partial();
                        }, 700);
                    }
                    else {
                        toastr.error(response.message);
                    }
                },

            })
        }

        function Duzenle(ExpenseTitleId) {
            $.ajax({
                url: "/ExpenseTitle/Update",
                data: {
                    "ExpenseTitleId": ExpenseTitleId
                },

                success: function (result) {
                    $('#modal-update').html(result);
                },

            })
        }

        function DuzenlePost() {
            var expenseTitle = {
                Id: $("#IdUpdate").val(),
                Name: $("#NameUpdate").val(),
                Code: $("#CodeUpdate").val(),
                SubNo: $("#SubNoUpdate").val(),
                Description: $("#DescriptionUpdate").val(),
            };

            $.ajax({
                url: "/ExpenseTitle/Update",
                data: {
                    "expenseTitle": expenseTitle
                },
                type: "POST",

                success: function (response) {
                    if (response.status == true) {

                        toastr.success(response.message);

                        setTimeout(function () {
                            closeModal();
                            Partial();
                        }, 700);
                    }
                    else {
                        toastr.error(response.message);
                    }
                }
            })
        }

        function Sil(ExpenseTitleId) {
            $.ajax({
                url: "/ExpenseTitle/Delete",
                data: {
                    "ExpenseTitleId": ExpenseTitleId
                },

                success: function (response) {
                    if (response.status == true) {

                        toastr.success(response.message);

                        setTimeout(function () {
                            Partial();
                        }, 500);
                    }
                    else {
                        toastr.error(response.message);
                    }
                }
            })
        }

        function Detay(ExpenseTitleId) {
            window.location.href = "/ExpenseTitle/Detail?ExpenseTitleId=" + ExpenseTitleId;
        }
    </script>

    <script>
        $(document).ready(function () {
            Partial();
        });
    </script>
}