@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1>DataTables</h1>
            </div>
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="/Home/Index">Home</a></li>
                    <li class="breadcrumb-item active">DataTables</li>
                </ol>
            </div>
        </div>
    </div><!-- /.container-fluid -->
</section>

<div id="list-partial">

</div>

<div class="modal fade" id="modalAdd">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Large Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Müşteri Ekle</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <form>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Name">İsim</label>
                                <input type="text" class="form-control" id="Name" placeholder="İsim Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="Name">Şirket İsmi</label>
                                <input type="text" class="form-control" id="CompanyName" placeholder="Şirket İsmi Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="Name">Yetkili</label>
                                <input type="text" class="form-control" id="Authorized" placeholder="Yetkili Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="City">City</label>
                                <input type="text" class="form-control" id="City" placeholder="City Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="District">District</label>
                                <input type="text" class="form-control" id="District" placeholder="District Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="PostCode">PostCode</label>
                                <input type="text" class="form-control" id="PostCode" placeholder="PostCode Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="Address">Address</label>
                                <input type="text" class="form-control" id="Address" placeholder="Address Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="Email">Email</label>
                                <input type="email" class="form-control" id="Email" placeholder="Email Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="Phone">Phone</label>
                                <input type="text" class="form-control" id="Phone" placeholder="Phone Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="TaxNo">TaxNo</label>
                                <input type="text" class="form-control" id="TaxNo" placeholder="TaxNo Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="TaxOffice">TaxOffice</label>
                                <input type="text" class="form-control" id="TaxOffice" placeholder="TaxOffice Giriniz">
                            </div>
                            <div class="form-group">
                                <label for="TcNo">TcNo</label>
                                <input type="text" class="form-control" id="TcNo" placeholder="TcNo Giriniz">
                            </div>

                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="SaveUser" onclick="Ekle()">Kaydet</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalUpdate">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Large Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="modal-update">

            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="SaveUser" onclick="DuzenlePost()">Kaydet</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

<div class="modal fade" id="modalDetail">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Large Modal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>

            <div class="modal-body" id="modal-detail">

            </div>

            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section scripts{
    <script>
        function closeModal() {
            $('#modalAdd').modal('hide');
            $('#modalUpdate').modal('hide');
            $('#modalDetail').modal('hide');
        }

        function Partial() {
            $.ajax({
                url: "/Customer/GetList",

                success: function (result) {
                    $('#list-partial').html(result);
                },

            })
        }

        function Ekle() {

            var model = {
                Name: $("#Name").val(),
                CompanyName: $("#CompanyName").val(),
                Authorized: $("#Authorized").val(),
                City: $("#City").val(),
                District: $("#District").val(),
                PostCode: $("#PostCode").val(),
                Address: $("#Address").val(),
                Email: $("#Email").val(),
                Phone: $("#Phone").val(),
                TaxNo: $("#TaxNo").val(),
                TaxOffice: $("#TaxOffice").val(),
                TcNo: $("#TcNo").val(),
            };

            $.ajax({
                url: "/Customer/Add",
                data: {
                    "model": model
                },
                type: 'POST',

                success: function (response) {

                    if (response.status == true) {

                        toastr.success(response.message);

                        setTimeout(function () {
                            closeModal();
                            Partial();
                        }, 700);
                    }
                    else {
                        toastr.error(response.message);
                    }
                },

            })
        }

        function Duzenle(id) {
            $.ajax({
                url: "/Customer/Update",
                data: {
                    "id": id
                },

                success: function (result) {
                    $('#modal-update').html(result);
                },

            })
        }

        function DuzenlePost() {
            var model = {
                Id: $("#IdUpdate").val(),
                Name: $("#NameUpdate").val(),
                CompanyName: $("#CompanyNameUpdate").val(),
                Authorized: $("#AuthorizedUpdate").val(),
                City: $("#CityUpdate").val(),
                District: $("#DistrictUpdate").val(),
                PostCode: $("#PostCodeUpdate").val(),
                Address: $("#AddressUpdate").val(),
                Email: $("#EmailUpdate").val(),
                Phone: $("#PhoneUpdate").val(),
                TaxNo: $("#TaxNoUpdate").val(),
                TaxOffice: $("#TaxOfficeUpdate").val(),
                TcNo: $("#TcNoUpdate").val(),
            };

            $.ajax({
                url: "/Customer/Update",
                data: {
                    "model": model
                },
                type: "POST",

                success: function (response) {
                    if (response.status == true) {

                        toastr.success(response.message);

                        setTimeout(function () {
                            closeModal();
                            Partial();
                        }, 700);
                    }
                    else {
                        toastr.error(response.message);
                    }
                }
            })
        }

        function Sil(id) {
            $.ajax({
                url: "/Customer/Delete",
                data: {
                    "id": id
                },

                success: function (response) {
                    if (response.status == true) {

                        toastr.success(response.message);

                        setTimeout(function () {
                            Partial();
                        }, 500);
                    }
                    else {
                        toastr.error(response.message);
                    }
                }
            })
        }

        function Detay(id) {
            $.ajax({
                url: "/Customer/Detail",
                data: {
                    "id": id
                },

                success: function (result) {
                    $('#modal-detail').html(result);
                },

            })
        }
    </script>

    <script>
        $(document).ready(function () {
            Partial();
        });
    </script>
}